node_modules
.env
npm-debug.log
newrelic_agent.log
dump
local.env
ecs-task-generated.json
ecs-task-fargate-generated.json
/.nvmrc
.editorconfig
knexfile-local.js
adapters.list
src/package.json
src/node_modules
cdk/cdk.out
