sudo: true
language: node_js
node_js:
- '4.0'
env:
  global:
  - STAGING_BRANCH=develop
  - PRODUCTION_BRANCH=master
cache:
  apt: true
  directories:
  - "$HOME/docker"
services:
- docker
before_install:
- chmod +x ./.build_scripts/build.sh
- chmod +x ./.build_scripts/deploy.sh
install: echo no local install needed, testing on Docker
script: touch local.env && docker-compose --project-name openaq run fetch npm test
after_success:
- ".build_scripts/build.sh"
deploy:
  - provider: script
    skip_cleanup: true
    script: ".build_scripts/deploy.sh"
    on:
      branch: ${STAGING_BRANCH}
  - provider: script
    skip_cleanup: true
    script: ".build_scripts/deploy.sh"
    on:
      branch: ${PRODUCTION_BRANCH}
